<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <footer class="text-center">
                <div class="made float-left">
                    <p>Made with</p><img
                        src="https://cdn.pixabay.com/photo/2017/09/23/16/33/pixel-heart-2779422_960_720.png" alt="">
                </div>
                <div class="social float-right">
                    <ul>
                        <li><a href="https://www.linkedin.com/in/cristian-salerno-25027440/"
                                target="_blank">Linkedin</a></li>
                        <li><a href="https://github.com/CristianSalerno" target="_blank">Github</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</div>