<div class="container-fluid text-center" >
    <footer>
        <div class="row">
        <div class="col-6 col-sm-6 col-md-6">
            <div class="made">
                <p>Made with</p><img src="https://cdn.pixabay.com/photo/2017/09/23/16/33/pixel-heart-2779422_960_720.png" alt="">
            </div>
            
        </div>
        <div class="col-6 col-sm-6 col-md-6">
            <ul>
                <li><a href="https://www.linkedin.com" target="_blank">Linkedin</a></li>
                <li><a href="https://www.github.com" target="_blank">Github</a></li>
                <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
            </ul>
        </div>
    </div>
    </footer>
    
</div>
