<div class="container">
    <div class="row">
        <header class="col-12 col-sm-12 col-md-12">
            <div class="flex">
                <div class="hero_img" @fade>
                    <div class="title float-left" data-aos="fade-down" data-aos-duration="300">
                        <h1>Cristian Salerno</h1>
                        <h3>Full-Stack developer</h3>
                    </div>
                    <div class="sections float-right">
                        <ul *ngFor="let item of arrItems" data-aos="fade-right" data-aos-duration="350">
                            <li (click)="scrollProjects()">{{item[0]}}</li>
                            <li (click)="scrollSkills()">{{item[1]}}</li>
                            <li (click)="scrollContact()">{{item[2]}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>