header .hero_img{
    background-image:url("../../assets/my2.jpg");
    min-height: 100vh;
    opacity:1;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: #fff;
}

header h1{
    font-weight: 600;
    font-size: 50px;
}
header h3{
    font-size: 20px;
    font-weight: 300;
}

header .title{
    opacity: none;
    width:50%;
    padding: 10%;

}
header .sections {
    width:50%;
    height:100%;
    padding:10%;
}

header .sections ul li {
    list-style: none;
}

header .sections ul li a {
    display:block;
    font-size: 25px;
    font-weight: 300;
    padding:10px;
    margin:10%;
    cursor: pointer;
    text-decoration: none;
    color:black;

}


header .sections ul li:nth-child(1){
    -webkit-transform: rotate(-10deg);
}
header .sections ul li:nth-child(3){
    -webkit-transform: rotate(10deg);
}

header .sections ul li:hover{
text-decoration: line-through;
}





@media (max-width:812px){
    header {
        padding-top: 5vh;
    }
    header .sections ul {
        display: none; 
    }
    header .section h1,h3{
        margin:20px;
    }
}