<header>
    <div class="flex">
        <div class="hero_img" @fade>
            <div class="title row text-center" data-aos="fade-down">
                <h1 class="text-center">Cristian Salerno</h1>
                <h3 class="text-center">Fullstack developer</h3>
            </div>
            <div class="sections row">
                <ul *ngFor="let item of arrItems">
                    <li data-aos="fade-left" data-aos-duration="2000" data-toggle="modal" data-target="#exampleModal" [routerLink]="['projects']">{{item[0]}}</li>
                    <li data-aos="fade-right" data-aos-duration="2000">{{item[1]}}</li>
                    <li data-aos="fade-left" data-aos-duration="2000">{{item[2]}}</li>
                    <li data-aos="fade-right" data-aos-duration="2000">{{item[3]}}</li>
                </ul>
            </div>
        </div>
    </div>
</header>

