header{
    min-height: 100vh;
}


header .hero_img{
    background-image:url("../../assets/my2.jpg");
    height: 100vh;
    opacity:1;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: #fff;
}

header h1{
    font-weight: 600;
    font-size: 50px;
}
header h3{
    font-size: 20px;
    font-weight: 300;
}

header .title{
    opacity: none;
    width:50%;
    padding: 10%;

}
header .sections {
    width:50%;
    height:100%;
    padding:10%;
}

header .sections ul li {
    display:block;
    font-size: 20px;
    font-weight: 300;
    padding:10px;
    margin:10%;
    cursor: pointer;
    font-weight: 300;

}

header .sections ul li:hover{
text-decoration: line-through;
}
        

@media (max-width: 600px) {
    header .hero_img{
        opacity:1;
        background-image:url("../../assets/pixel.jpg");
        background-color: #fff;
        transition: 1s;
    }
}