<div class="container">
    <h3 data-aos="fade-down" data-aos-duration="350">certifications</h3>
    <div class="row">
        <div class="col-md-6 col-sm-6" data-aos="fade-down">
            <div class="card-box">
                <a href="http://www.freecodecamp.org" target="_blank">
                    <img class="float-right"
                        src="https://s3.amazonaws.com/freecodecamp/freecodecamp-square-logo-large.jpg">
                </a>
                <h4>Freecodecamp</h4>
                <p>Responsive web design</p>
                <p>Javascript algorithms and data structure certification</p>
                <p>Front End libraries</p>
                <p>Apis and microservices certification</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6" data-aos="fade-down">
            <div class="card-box">
                <a href="https://www.neoland.es">
                    <img class="float-right"
                        src="https://pbs.twimg.com/profile_images/1113760589371854848/FlDgm5Sy.png">
                </a>
                <h4>Neoland</h4>
                <p>Full stack bootcamp <a href="https://www.credential.net/ee0c9db6-2bc7-49d8-8f10-caa43a4f7b90"
                        target="_blank">view certification</a></p>

            </div>
        </div>
    </div>
</div>