<h2 class="text-center p-5" data-aos="fade-down" data-aos-duration="350">projects</h2>
<div class="card" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine">
  <h3>Devsocial</h3>
  <p>End to end project, social media for professionals of web development</p>
  <ul>
    <li><a href="https://devsocial-eu.firebaseapp.com/home" target="_blank">go web</a></li>
    <li><a href="https://github.com/CristianSalerno/devSocial_backend" target="_blank">backend</a></li>
    <li><a href="https://github.com/CristianSalerno/devsocialFront" target="_blank">frontend</a></li>
  </ul>
  <div class="tech float-left">
    <img src="https://img.icons8.com/color/48/000000/angularjs.png">
    <img class="ts" src="https://raw.githubusercontent.com/remojansen/logo.ts/master/ts.png" alt="">
    <img src="https://img.icons8.com/color/48/000000/bootstrap.png">
    <img src="https://img.icons8.com/color/48/000000/nodejs.png">
    <img src="https://img.icons8.com/officexs/40/000000/sql.png">
    <img src="https://img.icons8.com/color/48/000000/firebase.png">
    <img src="https://img.icons8.com/color/48/000000/heroku.png">

  </div>
</div>
<div class="card" data-aos="fade-down" data-aos-duration="350">
  <h3>Api Trafico Madrid</h3>
  <p>Web app with the API provided from <a href="https://datos.madrid.es" target="_blank">https://datos.madrid.es</a>
  </p>
  <ul>
    <li>
      <a href="https://github.com/CristianSalerno/API---camaras-de-trafico-madrid" target="_blank">go</a>
    </li>
  </ul>
  <div class="tech float-left">
    <img src="https://img.icons8.com/color/48/000000/nodejs.png">
  </div>
</div>
<div class="card" data-aos="fade-down" data-aos-duration="350">
  <h3>Star Wars - using SWAPI</h3>
  <p>Web app with the API provided from <a href="https://swapi.co" target="_blank">https://swapi.co</a> </p>
  <ul>
    <li>
      <a href="https://github.com/CristianSalerno/starWarsApi" target="_blank">go</a>
    </li>
  </ul>
  <div class="tech float-left">
    <img src="https://img.icons8.com/color/48/000000/nodejs.png">
  </div>
</div>