.container h3{
    text-decoration: underline;
}
 .card {
    height: 100%;
    padding: 20px;
    margin:50px auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    cursor:pointer;
    border:none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.ts{
   width:40px;
   height: 40px;
   margin:10px;
}

.card .tech{
   margin:10px;
}
.card .tech img{
   width:25px;
   height: 25px;
   margin:10px;
}
.card ul li{
   display: inline-block;
   margin:10px;
   text-decoration: none;
   cursor: pointer;
   font-weight: 300;
}

.card ul li a {
   text-decoration: none;
   color:black;
   font-weight: 600;
}
.card ul li a:hover {
   text-decoration: line-through;
}

.card p{
   font-weight: 300;
}
.card h3{
   font-size:20px;
   font-weight: 600;
}