<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card">
        <h3>Devsocial</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non consequatur amet similique et tempora
          soluta ab sed minima dolores quae temporibus, porro officia totam perferendis sapiente eius, natus magnam.</p>
        <ul>
          <li><a href="https://devsocial-eu.firebaseapp.com/home" target="_blank">go web</a></li>
          <li><a href="https://github.com/ricardofanizzi/devSocial_back" target="_blank">backend</a></li>
          <li><a href="https://github.com/CristianSalerno/devsocialFront" target="_blank">frontend</a></li>
        </ul>
        <hr>
        <h3>Api Trafico Madrid</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non consequatur amet similique et tempora
          soluta ab sed minima dolores quae temporibus, porro officia totam perferendis sapiente eius, natus magnam.</p>
        <a href="https://github.com/CristianSalerno/API---camaras-de-trafico-madrid" target="_blank">go</a>
        <hr>
        <h3>Maps google</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non consequatur amet similique et tempora
          soluta ab sed minima dolores quae temporibus, porro officia totam perferendis sapiente eius, natus magnam.</p>
        <a href="https://github.com/CristianSalerno/ApiGoogleMaps/tree/master/src/app" target="_blank">go</a>
      </div>

    </div>
  </div>
</div>