<h2 class="text-center p-5" data-aos="fade-down" data-aos-duration="350">projects</h2>
<div class="card" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
  <h3>Devsocial</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non consequatur amet similique et tempora
    soluta ab sed minima dolores quae temporibus, porro officia totam perferendis sapiente eius, natus magnam.</p>
  <ul>
    <li><a href="https://devsocial-eu.firebaseapp.com/home" target="_blank">go web</a></li>
    <li><a href="https://github.com/ricardofanizzi/devSocial_back" target="_blank">backend</a></li>
    <li><a href="https://github.com/CristianSalerno/devsocialFront" target="_blank">frontend</a></li>
  </ul>
</div>
<div class="card" data-aos="fade-left" data-aos-duration="350">
  <h3>Api Trafico Madrid</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non consequatur amet similique et tempora
    soluta ab sed minima dolores quae temporibus, porro officia totam perferendis sapiente eius, natus magnam.</p>
  <ul>
    <li>
      <a href="https://github.com/CristianSalerno/API---camaras-de-trafico-madrid" target="_blank">go</a>
    </li>
  </ul>
</div>
<div class="card" data-aos="fade-up-left" data-aos-duration="350">
  <h3>Star Wars - using SWAPI</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non consequatur amet similique et tempora
    soluta ab sed minima dolores quae temporibus, porro officia totam perferendis sapiente eius, natus magnam.</p>
  <ul>
    <li>
      <a href="https://github.com/CristianSalerno/starWarsApi" target="_blank">go</a>
    </li>
  </ul>
</div>