<div class="container">
    <h2 class="text-center" data-aos="fade-down" data-aos-duration="350">get in touch</h2>
    <div class="row" data-aos="fade-down">
        <div class="col-12 col-sm-12 col-md-12">
            <form>
                <input type="text" placeholder="name">
                <label></label>
                <input type="text" placeholder="email">
                <hr>
                <textarea name="" id="" cols="30" rows="10" placeholder="Write a message"></textarea>
            </form>
        </div>
    </div>
</div>