.container h3{
    text-decoration: underline;
}
.skills{
    min-height: 100vh;
}
ul li {
    display: inline-block;
    padding: 20px;
    margin:20px;
    padding-top:20vh;
}
.skills .ts{
    widows: 70px;
    height: 70px;
}