<h2 class="p-5 text-center" data-aos="fade-up-left"  data-aos-duration="1000">skills</h2>
<div class="skills text-center" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="3000">
    <ul>
        <li><img src="https://img.icons8.com/color/96/000000/angularjs.png"></li>
        <li><img src="https://img.icons8.com/color/96/000000/html-5.png"></li>
        <li><img src="https://img.icons8.com/color/96/000000/css3.png"></li>
        <li><img src="https://img.icons8.com/color/96/000000/javascript.png"></li>
        <li><img src="https://img.icons8.com/color/96/000000/nodejs.png"></li>
        <li><img src="https://img.icons8.com/color/48/000000/pug.png"></li>
        <li><img src="https://img.icons8.com/color/96/000000/mongodb.png"></li>
        <li><img src="https://img.icons8.com/color/96/000000/postgreesql.png"></li>
        <li><img class="ts" src="https://raw.githubusercontent.com/remojansen/logo.ts/master/ts.png" alt=""></li>
        <li><img src="https://img.icons8.com/color/96/000000/git.png"></li>
        <li><img src="https://img.icons8.com/color/96/000000/firebase.png"></li>
        <li><img src="https://img.icons8.com/color/96/000000/heroku.png"></li>
    </ul>
</div>

